<!DOCTYPE html>
<html>
<head>
    <title>CinemaCity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryandajax")

</head>

<body class="bgblack">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top darkerPrimary">
        <a href="@Url.Action("Index", "Home")" style="width:120px">
            <img src="@Url.Content("~/Content/Images/CinemaCity.png")" style="width:100%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p id="cartCounter" class="text-warning">0</p>
                </li>                
                <li class="nav-item">
                    @Html.ActionLink("Cart", "Cart", "AddToCart", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Security", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

   
    <!--Renders child elements-->
    @RenderBody()

</body>
</html>
